<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

 
  
  <!-- a. Declare the configuration sections -->
  <configSections>
    <section name="mglConfigurationInfo" type="MGL.Data.DataUtilities.MglWebConfigurationInfo" />
    <section name="loginConfig" type="MGL.Security.LoginConfig" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!-- b. Custom application settings -->
  <appSettings>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    
    <add key="ApplicationName" value="HSP Admin" />
    <add key="ApplicationShortName" value="HSPAdmin" />
    <add key="ApplicationVersion" value="0.1" />
    <add key="ApplicationURL" value="localhost:49886" />
    <add key="SMTPHost" value="smtp.gmail.com" />
    <add key="SMTPUsername" value="***** See Separate Config File *****" />
    <add key="SMTPPassword" value="***** See Separate Config File *****" />
    <add key="SMTPFromEmail" value="***** See Separate Config File *****" />
    <add key="SMTPFromCertificate" value="***** See Separate Config File *****" />
    <add key="SMTPPort" value="587" />
    <add key="EnableSSL" value="true" />
    <add key="BodyIsHTML" value="true" />
    <add key="IgnoreIncorrectLogins" value="false" />
    <add key="EncryptKeyDefault" value="***** See Separate Config File *****" />
    <add key="EncryptKeyProGresPrivate" value="***** See Separate Config File *****" />
    <add key="EncryptKeyProGresPublic" value="***** See Separate Config File *****" />
    <add key="JSVersion" value="1.23" />
    <add key="StaticResourcePath" value="~/" />
    <add key="StaticJavascriptMinified" value="false" />
    <add key="RemoveWhitespaceFromAllPages" value="true" />
    <add key="DropboxRootDirectory" value="/GHSP Live Documents" />

    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>



  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GHSP.WebAdmin-20161010030624.mdf;Initial Catalog=aspnet-GHSP.WebAdmin-20161010030624;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- c. Configure the timeout, target framework, max request length and error handling -->
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="32768" />
    <customErrors mode="On" defaultRedirect="Code/CodeError.aspx">
      <error statusCode="500" redirect="Code/CodeError.aspx?code=500" />
      <error statusCode="404" redirect="Code/CodeError.aspx?code=404" />
    </customErrors>

    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
	      ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
	      ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
	        ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState timeout="5" mode="InProc" customProvider="DefaultSessionProvider">
      
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>

  <!-- d. Configure the web server variables -->
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <!-- e. The MGL Configuration information -->
  <mglConfigurationInfo>
    <mglConfigParams>
      <add name="WebHost" value="localhost:49886" />
      <add name="WebRoot" value="" />
      <add name="WebDownloadDirectory" value="Downloads" />
      <add name="DbConInfo.Host" value="localhost" />
      <add name="DbConInfo.Name" value="GHSP" />
      <add name="DbConInfo.Type" value="MySQL" />
      <add name="DbConInfo.User" value="***** See Separate Config File *****" />
      <add name="DbConInfo.Password" value="***** See Separate Config File *****" />
      <add name="DbConInfo.Port" value="3306" />
      <add name="DbConInfo.SSLRequired" value="true" />
      <add name="DbConInfo.SSLCertificatePath" value="***** See Separate Config File *****" />
      <add name="DbConInfo.SSLCertificatePassword" value="***** See Separate Config File *****" />
    </mglConfigParams>
  </mglConfigurationInfo>
  <!-- f. The login configuration -->
  <loginConfig>
    <entries>
      <entry key="LoginPage" value="/Code/Security/Login.aspx" />
      <entry key="NoEntryPage" value="/Code/Security/NoEntry.aspx" />
      <entry key="DefaultPostLoginPage" value="/Default.aspx" />
      <entry key="ShowTermsAndConditions" value="false" />
      <entry key="BypassLogin" value="false" />
      <entry key="AllowGuests" value="false" />
      <entry key="AllowRegistration" value="false" />
      <entry key="EnableAutomatedLogin" value="false" />
      <entry key="SecureFrontPage" value="false" />
      <entry key="RegistrationPageURL" value="" />
      <entry key="UseMGLRatherThanMySQLPasswordEncryption" value="true" />
      <entry key="TermsAndConditions" value="~/TermsAndConditions.htm" />
      <entry key="UseHTTPS" value="false" />
      <entry key="UseExternalLoginSite" value="false" />
      <entry key="ExternalLoginURL" value="" />
    </entries>
  </loginConfig>

</configuration>